.xo-section {--xo-page-width: 100%;--xo-gutter-left: .75rem;--xo-gutter-right: .75rem;--xo-page-width-xl: 1200px;--xo-gutter-left-xl: .75rem;--xo-gutter-right-xl: .75rem;}.xo-m-imagebox-10 .xo-m-imagebox__heading {
  margin-top: 0;
  font-size: 28px;
}
.xo-m-imagebox-10 .xo-m-imagebox__subheading {
  font-size: 14px;
  margin-top: 12px;
}